<a href="https://colab.research.google.com/github/marinaserver/FrontendArgPrograma/blob/master/inmersion_datos_AULA_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
import pandas as pd
inmuebles = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/inmuebles_bogota.csv")

In [ ]:
inmuebles.head()

,Tipo,Descripcion,Habitaciones,Baños,Área,Barrio,UPZ,Valor
0,Apartamento,Apartamento en venta en Zona Noroccidental,3,2,70,Zona Noroccidental,CHAPINERO: Pardo Rubio + Chapinero,$ 360.000.000
1,Casa,Casa en venta en Castilla,4,3,170,Castilla,KENNEDY: Castilla + Bavaria,$ 670.000.000
2,Apartamento,Apartamento en venta en Chico Reservado,3,3,144,Chico Reservado,CHAPINERO: Chicó Lago + El Refugio,$ 1.120.000.000
3,Apartamento,Apartamento en venta en Usaquén,3,2,154,Usaquén,Usaquén,$ 890.000.000
4,Apartamento,Apartamento en venta en Bella Suiza,2,3,128,Bella Suiza,USAQUÉN: Country Club + Santa Bárbara,$ 970.000.000

In [ ]:
inmuebles.shape

(9520, 8)

In [5]:
inmuebles.columns

Index(['Tipo', 'Descripcion', 'Habitaciones', 'Baños', 'Área', 'Barrio', 'UPZ',
       'Valor'],
      dtype='object')

In [6]:
columnas = {"Baños":"Banos","Área":"Area"}
inmuebles = inmuebles.rename(columns=columnas)
inmuebles.sample(10)

,Tipo,Descripcion,Habitaciones,Banos,Area,Barrio,UPZ,Valor
1183,Casa,Casa en venta en Tunjuelito,5,3,444,Tunjuelito,Tunjuelito,$ 390.000.000
8652,Apartamento,Apartamento en venta en Cantagallo,3,2,70,Cantagallo,Britalia,$ 450.000.000
3947,Casa,Casa en venta en Zona Noroccidental,4,4,245,Zona Noroccidental,CHAPINERO: Pardo Rubio + Chapinero,$ 920.000.000
1407,Apartamento,Apartamento en venta en El Batán,3,3,103,El Batán,La Alhambra,$ 417.990.000
2873,Apartamento,Apartamento en venta en Bosa,3,1,47,Bosa,Bosa Central,$ 122.000.000
834,Apartamento,Apartamento en venta en Puente Largo,3,2,103,Puente Largo,La Alhambra,$ 473.000.000
7795,Apartamento,Apartamento en venta en Suba,3,2,82,Suba,Suba,$ 520.000.000
1606,Apartamento,Apartamento en venta en Cedritos,3,3,106,Cedritos,Usaquén,$ 680.000.000
2011,Apartamento,Apartamento en venta en Santa Barbara,3,3,175,Santa Barbara,USAQUÉN: Country Club + Santa Bárbara,$ 1.050.000.000
7516,Casa,Casa en venta en Fontibón,3,2,70,Fontibón,Fontibón,$ 180.000.000

# Nueva sección